<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mainMenu">
                <span @onclick="NavigateToProject" class="bi bi-align-start" aria-hidden="true"></span> Main Menu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accountPage">
                <span class="bi bi-door-open-fill" aria-hidden="true"></span> Login & Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memberOverviewPage">
                <span class="bi bi-people-fill" aria-hidden="true"></span> View Members
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentOverviewPage">
                <span class="bi bi-archive-fill" aria-hidden="true"></span> View Documents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="taskPage">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Task Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addProject">
                <span aria-hidden="true"></span> Add Project
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deadlinePage">
                <span aria-hidden="true"></span> Deadline Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editMemberRolePage">
                <span aria-hidden="true"></span> Edit Member Roles
            </NavLink>
        </div>
    </nav>
</div>
