@page "/accountPage"

<div class="container-fluid">

    <Modal @ref="modal" IsVerticallyCentered="true" IsScrollable="true">
        <BodyTemplate>
            <div class="text-center py-2">
                <p class="h5" style="color: #9b78ff">Kies een project</p>
                <Button Type="ButtonType.Submit" Class="btn w-75 my-3" Style="background-color: #9b78ff">
                    <p class="h5 text-white">BattleBots</p>
                </Button>
                <Button Type="ButtonType.Submit" Class="btn w-75 my-3" Style="background-color: #9b78ff">
                    <p class="h5 text-white">Innovate</p>
                </Button>
                <Button Type="ButtonType.Submit" Class="btn w-75 my-3" Style="background-color: #9b78ff">
                    <p class="h5 text-white">Project 5.2</p>
                </Button>
                <Button Type="ButtonType.Submit" Class="btn w-75 my-3 btn-secondary">
                    <p class="h5 text-white">Maak een nieuw project</p>
                </Button>
            </div>
        </BodyTemplate>
    </Modal>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mb-3">
            <h1 class="text-center text-white font-weight-bold">project.io</h1>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="rounded py-2 row" style="background-color: #ffffff">
                <div class="col-sm-6 px-4" style="border-right: solid 1px; border-color: #9b78ff">
                    <h5 class="text-center" style="color: #9b78ff">Inloggen</h5>
                    <div class="form-group">
                        <input type="text" class="form-control my-3 bg-light" placeholder="Gebruikersnaam...">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control my-3 bg-light" placeholder="Wachtwoord...">
                    </div>
                    <div class="text-center">
                        <Button @onclick="OnShowModalClick" class="btn text-white px-3" style="background-color: #9b78ff">Inloggen</Button>
                    </div>
                </div>
                <div class="col-sm-6 px-4">
                    <h5 class="text-center" style="color: #9b78ff">Registreren</h5>
                    <div class="form-group">
                        <input type="text" class="form-control my-3 bg-light" placeholder="Gebruikersnaam...">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control my-3 bg-light" placeholder="E-mailadres...">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control my-3 bg-light" placeholder="Wachtwoord...">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control my-3 bg-light" placeholder="Herhaal Wachtwoord...">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn text-white px-3" style="background-color: #9b78ff">Registreren</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>