@page "/accountPage"

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center text-white font-weight-bold">project.io</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div style="background-color: #ffffff">
                <div class="col-sm-6">
                    <h4></h4>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>