@page "/mainMenu/{projectId:int}"
@using Project.IO.Classes
@using Project.IO.Classes.Service
@using Project.IO.Utilities
@inherits LayoutComponentBase

@inject ProjectUtil ProjectUtil

@if (project == null)
{
    <p>Loading...</p>
}
else
{

    <div class="container-fluid">
        <div class="px-4 py-4 rounded" style="background-color: white">
            <div class="row">
                <h1 style="color: #9b78ff; font-weight: bold">Welkom, naam!</h1>
                <div class="col-sm-3">
                    <NavLink class="nav-link" href="taskView">
                        <div class="btn big-button">
                            <i class="bi bi-laptop icon-100"></i>
                            <h4 class="fw-bold" style="font-size: initial">Mijn taken</h4>
                        </div>
                    </NavLink>
                </div>
                <div class="col-sm-3">
                    <div class="btn big-button">
                        <i class="bi bi-people-fill icon-100"></i>
                        <h4 class="fw-bold" style="font-size: initial">Mijn groep</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn big-button">
                        <i class="bi bi-clock-fill icon-100"></i>
                        <h4 class="fw-bold" style="font-size: initial">Projectdeadlines</h4>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn big-button">
                        <i class="bi bi-file-earmark-fill icon-100"></i>
                        <h4 class="fw-bold" style="font-size: initial">Mijn documenten</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn big-button-red" @onclick="Logout">
                        <i class="bi bi-box-arrow-in-right icon-100"></i>
                        <h4 class="fw-bold" style="font-size: initial">Uitloggen</h4>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private ProjectModel project;

    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InitializeProject();
    }

    private async Task InitializeProject()
    {
        if (!SessionService.Instance.IsLoggedIn)
        {
            Navigation.NavigateTo("/accountPage");
            return;
        }

        project = await ProjectUtil.GetProjectById(ProjectId);
    }

    protected void Logout()
    {
        SessionService.Instance.Logout();
        Navigation.NavigateTo("/accountPage");
    }
}