@page "/mainMenu/{ProjectId:int}"
@using Project.IO.Classes
@using Project.IO.Classes.Service
@using Project.IO.Utilities
@inherits LayoutComponentBase

@inject ProjectUtil ProjectUtil

@if (project == null)
{
    <p>Loading...</p>
}
else
{

    <div class="container-fluid">
        <div class="px-4 py-4 rounded" style="background-color: white">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="color: #9b78ff; font-weight: bold">Welkom, Gebruiker!</h1>
                    <NavLink href="taskPage">
                        <div class="btn big-button">
                            <i class="bi bi-laptop icon-100"></i>
                            <p class="fw-bold">Mijn taken</p>
                        </div>
                    </NavLink>
                    <NavLink href="memberOverviewPage">
                        <div class="btn big-button">
                            <i class="bi bi-people-fill icon-100"></i>
                            <p class="fw-bold">Mijn groep</p>
                        </div>
                    </NavLink>
                    <NavLink href="deadlinePage">
                        <div class="btn big-button">
                            <i class="bi bi-clock-fill icon-100"></i>
                            <p class="fw-bold">Project deadlines</p>
                        </div>
                    </NavLink>
                    <NavLink href="documentOverviewPage">
                        <div class="btn big-button">
                            <i class="bi bi-file-earmark-fill icon-100"></i>
                            <p class="fw-bold">Mijn documenten</p>
                        </div>
                    </NavLink>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn big-button-red" @onclick="Logout">
                        <i class="bi bi-box-arrow-in-right icon-100"></i>
                        <p class="fw-bold">Uitloggen</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private ProjectModel project;

    [Inject]
    public NavigationManager Navigation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await InitializeProject();
    }

    private async Task InitializeProject()
    {
        if (!SessionService.Instance.IsLoggedIn)
        {
            Navigation.NavigateTo("/accountPage");
            return;
        }

        project = await ProjectUtil.GetProjectById(ProjectId);
    }

    protected void Logout()
    {
        SessionService.Instance.Logout();
        Navigation.NavigateTo("/accountPage");
    }
}