@page "/mainMenu"
@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 style="color: #9b78ff; font-weight: bold">Welkom, naam!</h1>
            <div class="button-box">
                <button class="big-button">
                    <h4 style="color: white">Mijn taken</h4>
                </button>
                <button class="big-button">
                    <h4 style="color: white">Mijn groep</h4>
                </button>
                <button class="big-button">
                    <h4 style="color: white">Projectdeadlines</h4>
                </button>
                <button class="big-button">
                    <h4 style="color: white">Mijn documenten</h4>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="button-box">
                <button class="big-button-red">
                    <h4 style="color: white">Uitloggen</h4>
                </button>
            </div>
        </div>
    </div>
</div>