@page "/roleChangePage/{RoleId:int}"

<div class="container-fluid">
    <div class="row p-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-white rounded p-3">
            <div class="row">
                <div class="mb-2">
                    <h3 class="text-center font-weight-bold" style="color: #9b78ff;">Rol aanpassen</h3>
                </div>
                <div class="mb-2">
                    <h5 style="color: #9b78ff;">Gebruiker: @chosenMember.username /</h5>
                </div>
                <div class="mb-2">
                    <h5 style="color: #9b78ff;">Rol: @CurrentRole.RoleName</h5>
                </div>
                <div class="form-group px-3">
                    <select @bind="newestRole" class="form-select my-3 bg-light" aria-label="Default select example">
                        <option selected>Selecteer rol...</option>
                        <option value="voorzitter">voorzitter</option>
                        <option value="vice-voorzitter">vice-voorzitter</option>
                        <option value="notulist">notulist</option>
                        <option value="code controleur">code controleur</option>
                        <option value="planner">planner</option>
                    </select>
                </div>
                <div class="form-group px-3">
                    <Button @onclick="UpdateRole" Type="ButtonType.Submit" Class="btn w-100" Style="background-color: #9b78ff;">
                        <span class="h5 text-white">Lid wijzigen</span>
                    </Button>
                </div>
                <div class="form-group px-3 mt-3">
                    <Button @onclick="() => NavigateBackToMemberOverview()" Type="ButtonType.Submit" Class="btn w-100 bg-danger">
                        <i class="bi bi-arrow-left-square-fill text-white"></i>
                    </Button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
