@page "/taskView"
@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="px-4 py-4 rounded" style="background-color: white">
        <div>
            <h1 style="color: #9b78ff; font-weight: bold">TaskTitle</h1>
            <h2 style="color: #9b78ff;">date</h2>
            <h4 style="color: #9b78ff;">assigned to</h4>
            <h4 style="color: #9b78ff;">Description</h4>
            <p>Descriptiontext</p>
        </div>
    </div>
</div>
