@page "/taskView"

<div class="container-fluid">
    <div class="px-4 py-4 rounded" style="background-color: white">
        <div>
            <h1 style="color: #9b78ff; font-weight: bold">@Task.Title</h1>
            <h2 style="color: #9b78ff;">@Task.Date.ToString("MMMM dd, yyyy")</h2>
            <h4 style="color: #9b78ff;">@Task.AssignedTo</h4>
            <h4 style="color: #9b78ff;">Description</h4>
            <p>@Task.Description</p>
        </div>
    </div>
</div>
