.icon-100 {
    font-size: 100px;
    color: #9b78ff;
}

.icon-task-100 {
    font-size: 50px;
}

@media only screen and (max-width: 1100px) {

    .icon-100 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1000px) {

    .icon-100 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {

    .icon-100 {
        font-size: 30px;
    }
}
