@page "/taskPage"
@inherits LayoutComponentBase

<div class="container-fluid">

    <Modal @ref="taskModal" IsVerticallyCentered="true" IsScrollable="true">
        <BodyTemplate>
            <div class="text-center py-2 px-2">
                <span class="h4" style="color: #9b78ff">Taak toevoegen</span>
                <div class="form-group px-3">
                    <input type="text" class="form-control my-3 bg-light" @bind="taskTitle" placeholder="Taak..." required>
                </div>
                <div class="form-group px-3">
                    <select @bind="projectMember" class="form-select my-3 bg-light" aria-label="Default select example">
                        <option selected>Toewijzen aan...</option>
                        @if (members == null)
                        {
                            <option disabled>Laden...</option>
                        }
                        else if (!members.Any())
                        {
                            <option disabled>Geen  beschikbaar</option>
                        }
                        else
                        {
                            @foreach (var member in members)
                            {
                                if (member != null)
                                {
                                    <option value="@member.Id">@member.username</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group px-3">
                    <DateInput TValue="DateTime" @bind-Value="@taskDeadline" class="form-control" Placeholder="DD/MM/YY" />
                </div>
                <div class="form-group px-3">
                    <input type="text" class="form-control my-3 bg-light" @bind="taskDescription" placeholder="Omschrijving..." required>
                </div>
                <div class="form-group px-3">
                    <Button Type="ButtonType.Submit" @onclick="AddNewTaskToUser" Class="btn w-100" Style="background-color: #9b78ff;">
                        <span class="h5 text-white">Taak toevoegen</span>
                    </Button>
                </div>
            </div>
        </BodyTemplate>
    </Modal>

    <div class="px-4 py-4 rounded" style="background-color: white">
        <div class="row">
            <h1 style="color: #9b78ff; font-weight: bold">Mijn taken</h1>
            <div class="col-8">
                @if(tasks == null||!tasks.Any())
                {
                    <p>Geen taken.</p>
                }
                else
                {
                    @foreach (var task in tasks)
                    {
                        <button class="btn long-button-green" @onclick="() => NavigateToTask(task.Id)">
                            @task.Title
                        </button>
                    }
                }
            </div>
            <div class="col-4">
                <Button @onclick="ShowTaskModal" class="btn big-button">
                    Taak toevoegen
                </Button>
                <button class="btn big-button">
                    Terug
                </button>
            </div>
        </div>
    </div>
</div>